<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes amis</title>
</head>

<body>
    <%- include("header.html"); %>

        <h1>Mes amis</h1>

        <% if (friends && friends.length> 0) { %>
            <ul>
                <% friends.forEach(friend=> { %>
                    <li>
                        <%= friend.nom %>
                        <%= friend.prenom %>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>

        <p>Aucun ami pour le moment.</p>
    <% } %>
</body>

</html>